*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.i{
    display: block;
    width: 100%;
    height: 30px;
    outline: none;
}

.container{
    margin:20px;
}


.form-class > div{
    margin-bottom: 15px;
}

.form-class{
    margin-bottom: 75px;
}

.btn{
    
    text-align: center;
}

.btn-class{
    padding: 10px;
    width: 150px;
    border: 1px solid green;
    background-color: greenyellow;
    border-radius: 20px;
}

.table-class{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table-class td,th{
    border:1px solid black;
}

.table-class th,td{
    padding: 20px;
}

.btn-class:hover{
    cursor: pointer;
}